/* Import fonts */
@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two|Caveat);

html, body {
	height:100%;
	margin:0 auto;
	padding:0;
	font-family: 'Caveat', cursive;
}

body {
	background: linear-gradient(700deg, #0c3fc7, #4ddeff);
	background-size: 250% 250%;
	-webkit-animation: BGAnimation 12s ease infinite;
	-moz-animation: BGAnimation 12s ease infinite;
	-o-animation: BGAnimation 12s ease infinite;
	animation: BGAnimation 12s ease infinite;
	}

	@-webkit-keyframes BGAnimation {
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}
	@-moz-keyframes BGAnimation {
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}
	@-o-keyframes BGAnimation {
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}
	@keyframes BGAnimation {
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}


h1, h2, h3, h4, h5, h6, p { margin:0; padding:0; }
h1 { font-weight: bold; font-size: 2.45em; }
p { font-size: 1.6em; font-weight: 200; }
a { color: #fff; width: 50px; height: 50px; text-align: center; display: inline-block; margin: 65px 3px 20px 3px; -webkit-transition: 0.5s; transition: 0.5s; }
a .fa { line-height: 50px; }
.our-color { color: rgba(255,255,255, 0); margin: -65px;}

div.addthis_toolbox {
width: 242px;
margin: 0 auto;
}

img#logo {width: 105px; margin:35px 40px;}
img#logo2 { display: block; margin-left: auto; margin-right: auto }
/*img#logo { width: 105px; display: block; margin-left: auto; margin-right: auto; margin-top: 35px;}*/
img#words { width: 405px; margin-top: 180px;}

input { font-family: 'Raleway', sans-serif; background-color: rgba(255,255,255, 0); margin: 25px auto; height: 23px; border: 2px solid #fff; border-radius: 2px; outline: none; padding: 0 9px; font-size: 0.7em; text-align: center; margin-bottom: 100px; -webkit-appearance: none;}
input#mce-EMAIL { width: 175px; color: #fff; -webkit-transition: 0.5s; transition: 0.5s; }
input#mce-EMAIL:focus { color: #fff; border-color: #fff;} 
input#mc-embedded-subscribe { color: #4A90E2; background: #fff; cursor: pointer; -webkit-transition: 0.5s; transition: 0.5s; height: 27px; }
input#mc-embedded-subscribe:hover { color: #fff; background: #4A90E2; border: 2px solid #4A90E2;}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px white inset; -webkit-text-fill-color: #4A90E2;}

::-webkit-input-placeholder { color: #fff; }
:-moz-placeholder { color: #fff; } /* Firefox 18- */ 
::-moz-placeholder { color: #fff; } /* Firefox 19+ */
:-ms-input-placeholder { color: #fff; }


#container { height:100%; margin:0 auto; padding:0; overflow:hidden; }

#container .brand { width:100%; height:30%; margin:0 auto; position:relative; }

#container #content { background:transparent; width:100%; height:70%; margin:0 auto; position:relative; overflow:hidden; }
#container #content .content { display:inline-block; position:absolute; top:50%; left:50%; text-align: center; }

@media only screen and (min-width: 320px) and (max-width: 480px) {
	#container .brand { height:20%; }
	#container #content { height:80%; }
	img#logo {display: block; margin-left: auto; margin-right: auto}
	img#words { width: 300px; margin-top: 105px;}
	input { height: 21px; margin-bottom: 0px; }
	input#mce-EMAIL { width: 130px; }
	input#mc-embedded-subscribe { height: 25px; }
	a { margin: 65px 3px 10px 3px; }

}
