/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);
@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two|Caveat);

html, body {
	height:100%;
	margin:0 auto;
	padding:0;
	font-family: 'Caveat', cursive;
}

body {
	background: linear-gradient(700deg, #0c3fc7, #4ddeff);
	background-size: 290% 290%;
	-webkit-animation: BGAnimation 15s ease infinite;
	-moz-animation: BGAnimation 15s ease infinite;
	-o-animation: BGAnimation 15s ease infinite;
	animation: BGAnimation 15s ease infinite;
	}

	@-webkit-keyframes BGAnimation {
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}
	@-moz-keyframes BGAnimation {
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}
	@-o-keyframes BGAnimation {
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}
	@keyframes BGAnimation {
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}


h1, h2, h3, h4, h5, h6, p { margin:0; padding:0; }
h1 { font-weight: bold; font-size: 2.45em; }
p { font-size: 1.6em; font-weight: 200; }
a { color: #fff; width: 50px; height: 50px; text-align: center; display: inline-block; margin: 170px 3px 10px 3px; -webkit-transition: 0.5s; transition: 0.5s; }
a .fa { line-height: 50px; }
.our-color { color: rgba(255,255,255, 0); margin: -65px;}

#error { font-size: 1em; color: #e83233; margin: 10px; }
#success { font-size: 1em; color: #09a178; margin: 10px; }

img#logo {width: 105px; margin:35px 40px;}
img#words { width: 405px; margin-top: 230px;}

input { font-family: 'Raleway', sans-serif; background-color: rgba(255,255,255, 0); margin: 25px auto; height: 23px; border: 2px solid #fff; border-radius: 2px; outline: none; padding: 0 9px; font-size: 0.7em; text-align: center;}
input#email-subscribe { width: 190px; color: #fff; -webkit-transition: 0.5s; transition: 0.5s; }
input#email-subscribe:focus { border-color: #fff; }
input#subscribebtn { color: #4A90E2; background: #fff; cursor: pointer; -webkit-transition: 0.5s; transition: 0.5s; height: 27px;}
input#subscribebtn:hover { color: #fff; background: #4A90E2; border: 2px solid #4A90E2;}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }

::-webkit-input-placeholder { color: #fff; }
:-moz-placeholder { color: #fff; } /* Firefox 18- */ 
::-moz-placeholder { color: #fff; } /* Firefox 19+ */
:-ms-input-placeholder { color: #fff; }


#container { height:100%; margin:0 auto; padding:0; overflow:hidden; }

#container .brand { width:100%; height:30%; margin:0 auto; position:relative; }

#container #content { background:transparent; width:100%; height:70%; margin:0 auto; position:relative; overflow:hidden; }
#container #content .content { display:inline-block; position:absolute; top:50%; left:50%; text-align: center; }

@media only screen and (min-width: 320px) and (max-width: 480px) {
	#container .brand { height:10%; }
	#container #content { height:90%;}
	img#logo { width: 125px; display: block; margin-left: auto; margin-right: auto; margin-top: 50px; }
	img#words { width: 300px; margin-top: 295px;}
	input { height: 21px; }
	input#email-subscribe { width: 100px; }
	a { margin-top: 140px; }
	

}
