/* Import fonts */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body {
	height:100%;
	margin:0 auto;
	padding:0;
	font-family: 'Montserrat', sans-serif;
}

body { background-color: #fff;}

div.addthis_toolbox { width: 240px; margin: 0 auto; }

img#logo2 { width: 105px; margin:35px 40px; }
img#thanks { display: block; margin-left: auto; margin-right: auto; margin-top: -15px; margin-bottom: 10px}

p { text-align: center; font-size: 15px; color: #4ddeff; font-style: italic;}
p#follow { font-size: 20px;  color: #0c3fc7; }
p#email { margin-top: 110px; }

a {margin: 0 12px;}


@media only screen and (min-width: 320px) and (max-width: 480px) {
	img#logo2 { display: block; margin-left: auto; margin-right: auto; width: 150px;}
	img#thanks { width: 355px;}
	p#follow { font-size: 16px; }
	p#emai { margin-top: 1px; }
}	
